<form method="/book" method="post" >
  <% hiddenFieldNameList.forEach( hiddenFieldName => { %>
    <input 
      type="hidden" 
      name="<%= hiddenFieldName %>" 
      value="<%= val[ hiddenFieldName ] %>"
    >
  <% }) %>
  
  <div class="card" style="width: 100%;">
      <div class="card-body">

        <h5 class="card-title" style="color: Orange;"> <%= typeof val.title != 'undefined' ? val.title : 'None' %> </h5>
        <h6 class="card-subtitle mb-2 text-muted"> By: <%= typeof val.author != 'undefined' ? val.author : 'None' %> </h6>
        <h6 class="card-subtitle mb-2 text-muted"> Edition: <%= typeof val.edition != 'undefined' ? val.edition : 'None' %> </h6>
        
        <div class="row">
          <div class="col" style="color: green;"> Avail </div>
          <div class="col" style="color: red;"> Lent</div>
        </div>
  
        <div class="row">
          <div class="col" style="color: green;"> <%= typeof val.qty != 'undefined' ? val.qty : 'None' %>  </div>
          <div class="col" style="color: red;"> 0</div>
        </div>
  
        <div class="row">

          <% buttons.forEach( btn => { %>
            <button class="btn btn-link" type="submit" formmethod="<%= btn.method %>" formaction="<%= btn.action %>" > <%= btn.label %></button>  
          <% }) %>
        </div>
  
      </div>
  </div>

</form>