<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">History</h6>
</div>
<div class="card-body" style="width: 100%">
    
    <% checkBoxList.forEach( checkBox => {

        const { name, id, label, color } = checkBox %>
        
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="<%= name %>" id="<%= id || name %>">
            <label class="form-check-label text-<%= color %>" for="<%= id || name %>"><%= label %></label>
        </div>

    <% }) %>
    
    <div class="form-check form-check-inline">
        <button type="button" class="btn btn-primary">Refresh</button>
    </div>
    <div class="row justify-content-center" style="width: 100%" ><%- include( "../partials/table", { ...table } ) %></div>
    
    <div class="row justify-content-center" style="width: 100%" >

        <%- include("../partials/pagination", {
        pg:3,
        eleCount: 5,
        form_id: "refresh-form"
        }); %> 

    </div>
</div>