<link href="/css/book/inputField.css" rel="stylesheet" type="text/css">

<div class="form__group field">
    <input
      type="<%= typeof type != 'undefined' ? type : 'llllllllllllllllllllllllllllll' %>"
      class="form__field" 
      placeholder="<%= typeof labelName != 'undefined' ? labelName : 'llllllllllllllllllllllllllllll' %>"
      name= "<%= typeof name != 'undefined' ? name : id %>"
      id="<%= typeof id != 'undefined' ? id : name %>"
    />
    <script type="text/javascript">
      const id = "<%= typeof name != 'undefined' ? name : id %>";

      const required = "<%= typeof required != 'undefined' ? required : 'true' %>";
      const disabled = "<%= typeof disabled != 'undefined' ? disabled : 'false' %>";

      if( required === "true"  || required === "undefined" )
        document.getElementById(id).required = true;

      if ( disabled === "true" ) 
        document.getElementById(id).disabled = true;
    </script>
    <label 
      for="<%= typeof id != 'undefined' ? id : name %>"
      class="form__label"
    >
   <%= typeof labelName != 'undefined' ? labelName : 'llllllllllllllllllllllllllllll' %>
    </label>

  </div>