<!DOCTYPE html>
<html>
    <%- include( "../partials/bootstrap" ) %>
<head> <title>LMS - User Profile</title> </head>

<%- include( "../partials/navbar", { activeNav: "User" } ) %>
<%- include( "../partials/popup" ) %>
<div class="row" style="margin-left: 5px;margin-right: 5px; padding: 0px 0px">
    
    <div class="col-md-2.2" >

        <% 
        editable = typeof editable != "undefined" ? editable : "false";
        const disabled = (editable == "true" ? "false" : "true");
        %>
        <%- include( "../partials/infoCard", {
            imgPath: "/user.png",
            title: { label: "Name", name: "name", type: "text", disabled, value:name },
            body: [
                { label: "Email", name: "email", type: "text", disabled, value: email},
                { label: "Contact", name: "contact", type: "text", disabled, value: contact},
            ],
            buttons: [ 
                {
                    label: "Click  To  " + (sts == "e" ? "Disable" : "Enable"), color: sts == "e" ? "danger" : "success",
                    modal: {
                        modal_id: "user-status-modal",
                        modal_title: "Confirm To " + (sts == "e" ? "Disable" : "Enable"),
                        modal_body_id: "user-status-modal-body" ,
                        modal_body: "User Email: " + email ,
                        modal_submit: {
                            action: "/user/update-status",
                            method: "post",
                            label: sts == "e" ? "Disable" : "Enable",
                            hiddenFieldList: [ 
                                { name: "user_id", value: user_id },
                                { name: "sts", value: sts == "e" ? "d" : "e" },
                            ],
                        },
                    },
                }, { 
                    label: (editable == "true" ? "Save": "Edit"), color: (editable == "true" ? "success": "primary"), 
                    formaction: (editable == "true" ? "/user/edit" : "/user/profile") , formmethod: (editable == "true" ? "post" : "get"),
                    onClick: "onEdit()",
                    hiddenFieldList: [
                        { name: "user_id", value: user_id },
                        { name: "editable", value: editable ? "false" : "true" },
                        { id: "edit-email", name: "email", value: email },
                        { id: "edit-name", name: "name", value: name },
                        { id: "edit-contact", name: "contact", value: contact },
                    ],
                },            
            ],
        } ) %>
        
    </div>

    <script type="text/javascript">
        function onEdit() {
            document.getElementById( "edit-email" ).value = document.getElementById( "email").value;
            document.getElementById( "edit-contact" ).value = document.getElementById( "contact").value;
            document.getElementById( "edit-name" ).value = document.getElementById( "name").value;
        }
    </script>

    <link href="/css/progBar.css" rel="stylesheet" type="text/css">

    <div class="col-md-3">

        <% const { borrowed=0, reissued=0, overDue=0, lifeTimeBorrow=0, lifeTimeReIssue=0, lifeTimeOverDue=0, } = trackers; %>
        <%- include( "../partials/progBar", {
            body: [
                {
                    label: "Borrowed", color: "primary",
                    value: borrowed, progBar: "false"
                }, {
                    label: "Reissued", color: "warning",
                    value: reissued, value2: borrowed, progBar: "false"
                }, {
                    label: "Over Due", color: "danger",
                    value: overDue, value2: borrowed, progBar: "false"
                }, { 
                    label: "Life Time Borrows", color: "primary",
                    value: lifeTimeBorrow, progBar: "false" 
                }, { 
                    label: "Life Time Reissued", color: "warning", 
                    value: lifeTimeReIssue, progBar: "false" 
                }, { 
                    label: "Life Time Over Due", color: "danger", 
                    value: lifeTimeOverDue, progBar: "false" 
                }, 
            ]
        }) %>

    </div>

    <div class="col"; style="width: 100%">

        <%- include( "../partials/historyCard", {
            refreshAction: "/user/profile",
            hiddenFieldList: [
                { name: "user_id", value: user_id },
            ],
            checkBoxList: [
                { label: "Borrowed", id: "borrowed", name: "borrowed", color: "primary", checked: filter.borrowed },
                { label: "Reissued", id: "reissued", name: "reissued", color: "warning", checked: filter.reissued },
                { label: "Over Due", id: "overDue",  name: "overDue",  color: "danger",  checked: filter.overDue },
                { label: "Returned", id: "returned", name: "returned", color: "success", checked: filter.returned },
            ],
            table: { 
                startSlNum: pg*20 + 1,
                headerList: [ "Book", "Borrowed", "Reissued", "Due", "Returned" ],
                rowListKeys: [ "title", "lent_at", "re_iss_at", "due_at", "ret_at", ],
                rowList: trackers.history,
            }
        } ) %>

        <div class="row justify-content-center" style="width: 100%" >
            <%- include("../partials/pagination", {
              pg,
              eleCount: trackers.history.length,
              maxEleCount: 20, 
              hiddenFieldList: [
                { name: "borrowed", value: filter.borrowed },
                { name: "reissued", value: filter.reissued },
                { name: "overDue",  value: filter.overDue  },
                { name: "returned", value: filter.returned },
                { name: "user_id", value: user_id },
              ],
            }); %> 
          </div>

    </div>
    
</div>
</div>
<body>
</body>
</html>