<!DOCTYPE html>
<html>
    <%- include( "../partials/bootstrap" ) %>
<head> <title>LMS - User Profile</title> </head>

<%- include( "../partials/navbar", { activeNav: "User" } ) %>
<div class="row" style="margin-left: 5px;margin-right: 5px; padding: 0px 0px">
    
    <div class="col-md-2.2" >

        <%- include( "../partials/infoCard", {
            imgPath: "/user.png",
            title: { label: "Name", name: "name", type: "text", disabled: "true", value:name },
            body: [
                { label: "Email", name: "email", type: "text", disabled: "true", value: email},
                { label: "Contact", name: "contact", type: "text", disabled: "true", value: contact},
            ],
            buttons: [

                { label: "Click To Disable", type: "danger", 
                formaction: "/user/status", formmethod: "post" },

                { label: "Edit", type: "primary", 
                formaction: "/user/edit", formmethod: "get" },            
            ]
        } ) %>
        
    </div>

    <link href="/css/progBar.css" rel="stylesheet" type="text/css">

    <div class="col-md-3">

        <% const { borrowed=0, reissued=0, overDue=0, lifeTimeBorrow=0, lifeTimeOverDue=0 } = trackers; %>
        <%- include( "../partials/progBar", {
            body: [
                {
                    label: "Borrowed", color: "success",
                    value: borrowed, progBar: "false"
                }, {
                    label: "Reissued", color: "warning",
                    value: reissued, value2: borrowed, progBar: "false"
                }, {
                    label: "Over Due", color: "danger",
                    value: overDue, value2: borrowed, progBar: "false"
                }, { 
                    label: "Life Time Borrows", color: "primary",
                    value: lifeTimeBorrow, progBar: "false" 
                }, { 
                    label: "Life Time Reissued", color: "warning", 
                    value: 0, progBar: "false" 
                }, { 
                    label: "Life Time Over Due", color: "danger", 
                    value: lifeTimeOverDue, progBar: "false" 
                }, 
            ]
        }) %>

    </div>

    <div class="col"; style="width: 100%">

        <%- include( "../partials/historyCard", {
            checkBoxList: [
                { label: "Borrowed", id: "borrowed", name: "borrowed", color: "primary", checked: true },
                { label: "Reissued", id: "reissued", name: "reissued", color: "warning", checked: true },
                { label: "Over Due", id: "overDue", name: "overDue", color: "danger", checked: true },
                { label: "Returned", id: "returned", name: "returned", color: "success", checked: true },
            ],
            table: { 
                startSlNum: 1,
                headerList: [ "Book", "Borrowed", "Due", "Returned" ],
                rowListKeys: [ "title", "lent_at", "due_at", "ret_at", ],
                rowList: trackers.history,
            }
        } ) %>

    </div>
    
</div>
</div>
<body>
</body>
</html>