<html>
    <title>LMS - User</title>
    <body>
      <%- include("../partials/navbar", { activeNav: "User" } ) %>

      <%- include("../partials/popup" ) %>

        <form id="search_form" action="/user" method="get" >
          <div class="user-component" style="margin-left: 2%">

            <!-- First Row: Email-->
            <div class="form-row" >

              <!-- Email -->
              <div class="form-group col-md-5" >
                <%- include( "../partials/inputField", {
                  labelName: "Email",
                  name:"email",
                  type:"text",
                  value: email,
                  required: "false"
                } );%>
              </div>
              
              <div class="form-group col-md-1" >
                <button type="submit" class="btn btn-primary">Search</button>
              </div>

              <div class="form-group col-md-2" >
                <button type="submit" class="btn btn-secondary" formaction="/user/register" formmethod="get">Register User</button>
              </div>

            </div>
            
            
          </div>
          </form>

          <div class="row" style="margin-left: 5px; margin-right: 5px; width: 100%;">

            <% for ( let i=0; i<miniCardDataList.length; ) { %>
              <div class="row" style="width: 100%">
                <% for ( let j=0; j<4 && i<miniCardDataList.length; ++j, ++i ) { %>
                  <div class="col-md-3"> 
                    <% const cardData = miniCardDataList[i] %>
                    
                    <%- include( "../partials/miniCard", {
      
                      title: cardData.email,
                      subtitleList: [
                        "Name: " + cardData.name,
                        "Contact: " + cardData.contact,
                      ],
                      bodyColorList: [ "green", "red" ],
                      bodyList: [
                        [ "Borrowed", "Over Due" ],
                        [ cardData.trackers.borrowed, cardData.trackers.overDue ],
                      ],
                      buttonList: [
                        { method: "get", action: "/book/return",  label: "Return",   hiddenFieldList: [ { name: "email", value: cardData.email } ] },
                        { method: "get", action: "/user/profile", label: "View",     hiddenFieldList: [ { name: "user_id", value: cardData.user_id } ] },
                      ],
      
                    } ); %>
                    
                  </div>
                <% } %>
              </div>
            <% } %>
          </div>
        
            <div class="row justify-content-center" style="width: 100%" >
              <%- include("../partials/pagination", {
                pg,
                eleCount: miniCardDataList.length,
                maxEleCount: 8, 
                hiddenFieldList: [
                  { name: "email", value: typeof email !== "undefined" ? email : "" },
                ],
                onEmpty: "Email Not Registered",
              }); %> 
            </div>
              
          </div>

    </body>
</html>