<html>
    <title>LMS - Lend Book</title>
    <body>
      <%- include("../partials/navbar", { activeNav: "Book" } ) %>

      <%- include("../partials/popup" ) %>

          <div class="lend-book-component" style="margin-left: 2%">

            <!-- First Row: Borrower Email-->
            <div class="form-row" >

              <!-- Borrower Email -->
              <div class="form-group col-md-6" >

                <div class="card" style="width: 100%;">

                  <div class="card-body">
                    
                    <h5  class="card-title" style="color: Orange;"> Lending Book: <%= title %> </h5>
                    <h6  class="card-subtitle mb-2 text-muted"> By: <%= author %> </h6>
                    <h6  class="card-subtitle mb-2 text-muted"> Edition: <%= edition %> </h6>

                    <div class="row">
                      <%- include( "../partials/inputField", {
                        labelName: 'Borrower Email',
                        name:"email",
                        id:"email",
                        type:"text",
                        value: typeof email != "undefined" ? email : "",
                        disabled: typeof disableInput != 'undefined' ? disableInput : 'false'
                      } );%>
                    </div>
                    <% if ( typeof disableInput == "undefined" ) { %>
                    <div class="row float-right">

                      <button class="btn btn-danger" type="button"  onclick="window.location='/book';return false;" style="margin-right: 10px;"> Cancel</button>
                      
                      <button type="button" class="btn btn-primary" onclick= "lendBookModalMaker()" data-toggle="modal" data-target="#confirm_lending_modal_id"> Lend Book </button>                      
                      <%- include( "../partials/modal", {
                        modal_id: "confirm_lending_modal_id",
                        modal_title: "Lending Book: " + title,
                        modal_body_id: "confirm_lending_modal_body_id" ,
                        modal_submit: {
                          action: "/book/lend",
                          method: "post",
                          label: "Confirm",
                          hiddenFieldList: [
                            { name: "book_id", value: _id },
                            { name: "title", value: title },
                            { name: "author", value: author },
                            { name: "edition", value: edition },
                            { name: "email", value: "", id: "confirm-modal-email" },
                          ],
                        },
                      } ) %>
                      
                    </div>
                    <% } %>
                  </div>

                </div>

              </div>

            </div>
            
          </div>

          <script type="text/javascript">
            function lendBookModalMaker() {
              document.getElementById( "confirm_lending_modal_body_id" ).innerHTML = "To: " + document.getElementById( "email" ).value ;
              document.getElementById( "confirm-modal-email" ).value = document.getElementById( "email" ).value ;
            }
          </script>
    </body>
</html>