<html>
    <title>LMS - Lend Book</title>
    <body>
      <%- include("../partials/navbar") %>

      <%- include("../partials/popup" ) %>

        <form action="/book/lend" method="post">

          <input type="hidden" name="book_id" value="<%= book_id %>">
          <input type="hidden" name="title" value="<%= title %>">
          <input type="hidden" name="author" value="<%= author %>">
          <input type="hidden" name="edition" value="<%= edition %>">
          
          <div class="lend-book-component" style="margin-left: 2%">

            <!-- First Row: Borrower Email-->
            <div class="form-row" >

              <!-- Borrower Email -->
              <div class="form-group col-md-6" >

                <div class="card" style="width: 100%;">

                  <div class="card-body">
                    
                    <h5  class="card-title" style="color: Orange;"> Lending Book: <%= typeof title != 'undefined' ? title : 'None' %> </h5>
                    <h6  class="card-subtitle mb-2 text-muted"> By: <%= typeof author != 'undefined' ? author : 'None' %> </h6>
                    <h6  class="card-subtitle mb-2 text-muted"> Edition: <%= typeof edition != 'undefined' ? edition : 'None' %> </h6>

                    <div class="row">
                      <%- include( "../partials/inputField", {
                        labelName: 'Borrower Email',
                        name:"email",
                        id:"email",
                        type:"text",
                        disabled: typeof disableEmail != 'undefined' ? disableEmail : 'false'
                      } );%>
                    </div>
                    <% if ( typeof disableEmail == "undefined" ) { %>
                    <div class="row float-right">

                      <button class="btn btn-danger" type="submit" formmethod="get" formaction="/book" style="margin-right: 10px;"> Cancel</button>
                      
                      <button type="button" class="btn btn-primary" onclick= "lendBookModalMaker()" data-toggle="modal" data-target="#confirm_lending_modal_id"> Lend Book </button>                      
                      
                      <%- include( "../partials/modal", {
                        modal_id: "confirm_lending_modal_id",
                        modal_title: "Lending Book: " + title,
                        modal_body_id: "confirm_lending_modal_body_id" 
                      } ) %>
                      
                    </div>
                    <% } %>
                  </div>

                </div>

              </div>

            </div>
            
          </div>

          </form>
          <%- include( "../partials/setEleValByID" ) %>
          <script type="text/javascript">
            function lendBookModalMaker() {
              document.getElementById( "confirm_lending_modal_body_id" ).innerHTML = "To: " + document.getElementById( "email" ).value ;
            }
          </script>
    </body>
</html>