<html>
    <title>LMS - Return Book</title>
    <body>
      <%- include("../partials/navbar", { activeNav: "User" } ) %>

      <%- include("../partials/popup" ) %>
      <!-- <link href="/css/book/addBook.css" rel="stylesheet" type="text/css"> -->

        <form id="search_form" method="get" >
          <input type="hidden" name="pg" id="pg" value="<%= pg %>">
          <div class="return-book-component" style="margin-left: 2%">

            <!-- First Row: Book Title, Author Name, Edition Number-->
            <div class="form-row" >

              <!-- Book Title -->
              <div class="form-group col-md-3" >
                <%- include( "../partials/inputField", {
                  labelName: "Borrower Email",
                  name:"email",
                  type:"text",
                } );%>

              </div><div class="form-group col-md-3" >
                <%- include( "../partials/inputField", {
                  labelName: "Book Title",
                  name:"title",
                  type:"text",
                  required: "false"
                } );%>
              </div>

              <!-- Author Name -->
              <div class="form-group col-md-2" style="margin-left: 10px;margin-right: 10px" >
                <%- include( "../partials/inputField", {
                  labelName: "Author Name",
                  name:"author",
                  type:"text",
                  required:"false"
                } );%>
              </div>

              <!-- Edition Number -->
              <div class="form-group col-md-2" >
                <%- include( "../partials/inputField", {
                  labelName: "Edition Number",
                  name:"edition",
                  type:"number",
                  required:"false"
                } );%>
              </div>
              <input type="hidden" name="redirectURL" value="book/bookPage">
              <div class="form-group col-md-1" >

                <button type="submit" class="btn btn-primary">Search</button>
              </div>

            </div>
            
            
          </div>
          </form>
          <div class="row" style="margin-left: 5px; margin-right: 5px; width: 100%;">
            <% if( typeof bookMiniCardData != 'undefined' ) {
              bookMiniCardData.forEach( ( val, i ) => { 

                if ( i%4 === 0  ) {

                  if ( i != 0 ) { %>
                    </div>
                  <% } %>
                <div class="row" style="width: 100%">
                  
              <% }
              const hiddenFieldNameList = Object.keys( val );
              %>
              <div class="col-md-3"> <%- include("../partials/bookMiniCard", {val, buttons: bookMiniCardButtons, hiddenFieldNameList } ); %> </div>
            <% } ) %> 
                  </div>
            <% } %>
              
 
            <div class="row justify-content-center" style="width: 100%" >
              <% if( typeof bookMiniCardData == 'undefined' || bookMiniCardData.length == 0 ) { %>
                <h4> No Books To Be Returned </h4>
              <% } else { %>
                <%- include("../partials/pagination", {
                  pg,
                  eleCount: bookMiniCardData.length,
                  form_id: "search_form"
                }); %> 
              <% } %>
            </div>
              


          </div>
          <%- include( "../partials/setEleValByID" ) %>

    </body>
</html>