<!DOCTYPE html>
<html>
    <%- include( "../partials/bootstrap" ) %>
<head> <title> LMS - Book Profile</title> </head>

<%- include( "../partials/navbar", { activeNav: "Book" } ) %>
<div class="row" style="margin-left: 5px;margin-right: 5px">
    
    <div class="col-md-2.2" >

        <%- include( "../partials/infoCard", {
            imgPath: "/book.png",
            title: { label: "Title", name: "title", type: "text", disabled: "true" },
            body: [
                { label: "Author", name: "author", type: "text", disabled: "true" },
                { label: "Edition", name: "edition", type: "text", disabled: "true" },
            ],
            buttons: [

                { label: "Click To Disable", type: "danger", 
                formaction: "/book/status", formmethod: "post" },

                { label: "Edit", type: "primary", 
                formaction: "/book/edit", formmethod: "get" },            
            ]
        } ) %>
        
    </div>

    <link href="/css/progBar.css" rel="stylesheet" type="text/css">

    <div class="col-md-3">

        <%- include( "../partials/progBar", {
            body: [
            { label: "Available", value: 50, value2: 100, percentage: 50, color: "success" }, 
            { label: "Borrowed", value: 50, percentage: 50, color: "primary" }, 
            { label: "Reissued", value: 30, percentage: 30, color: "warning" }, 
            { label: "Over Due", value: 10, percentage: 10, color: "danger" }, 

            { label: "Life Time Borrows", value: 100, color: "primary", progBar: "false" }, 
            { label: "Life Time Reissued",value: 100,  color: "warning", progBar: "false" }, 
            { label: "Life Time Over Due",value: 100,  color: "danger", progBar: "false" }, 
            ]
        }) %>

    </div>

    <div class="col"; style="height: 100%">

        <%- include( "../partials/historyCard", {
            checkBoxList: [
                { label: "Borrowed", name: "borrowed", color: "primary", checked: true },
                { label: "Reissued", name: "reissued", color: "warning", checked: true },
                { label: "Over Due", name: "overDue", color: "danger", checked: true },
                { label: "Returned", name: "returned", color: "success", checked: true },
            ],
            table: { 
                startSlNum: 1,
                headerList: [ "User", "Borrowed", "Reissued", "Due", "Returned" ],
                rowList: [
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "30 / 03 / 2021" ],
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "30 / 03 / 2021" ],
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "30 / 03 / 2021" ],
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "30 / 03 / 2021" ],
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "30 / 03 / 2021" ],
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "30 / 03 / 2021" ],
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "30 / 03 / 2021" ],
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "30 / 03 / 2021" ],
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "30 / 03 / 2021" ],
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "-- / -- / ----"],
                    [ "A", "13 / 03 / 2021", "20 / 03 / 2021", "30 / 03 / 2021", "-- / -- / ----"],
                ]
            }
        } ) %>

    </div>
    
</div>
</div>
<%- include( "../partials/setEleValByID" ); %>

<body>

    
</body>

</html>