<!DOCTYPE html>
<html>
    <%- include( "../partials/bootstrap" ) %>
<head> <title> LMS - Book Profile</title> </head>

<%- include( "../partials/navbar", { activeNav: "Book" } ) %>
<div class="row" style="margin-left: 5px;margin-right: 5px">
    
    <div class="col-md-2.2" >

        <%- include( "../partials/infoCard", {
            imgPath: "/book.png",
            title: { label: "Title", name: "title", type: "text", disabled: "true", value: title },
            body: [
                { label: "Author", name: "author", type: "text", disabled: "true", value: author },
                { label: "Edition", name: "edition", type: "text", disabled: "true", value: edition },
            ],
            buttons: [

                { label: "Click To Disable", type: "danger", 
                formaction: "/book/status", formmethod: "post" },

                { label: "Edit", type: "primary", 
                formaction: "/book/edit", formmethod: "get" },            
            ]
        } ) %>
        
    </div>

    <link href="/css/progBar.css" rel="stylesheet" type="text/css">

    <div class="col-md-3">
        <% const { avail=0, borrowed=0, overDue=0, lifeTimeBorrow=0, lifeTimeOverDue=0 } = trackers;
        // ( variable || 1 ) -> used to avoid division by zero error
            const totalAvailable = avail + borrowed;
            const availPercent = (avail * 100 / (totalAvailable || 1) ).toFixed(2);
            const borrowedPercent = (borrowed * 100 / (totalAvailable || 1)).toFixed(2);
            const overDuePercent = (overDue * 100 / (totalAvailable || 1) ).toFixed(2);
        %>
        <%- include( "../partials/progBar", {
            body: [ 
                {
                    label: "Available", color: "success",
                    value: avail, value2: totalAvailable, percentage: availPercent,
                }, { 
                    label: "Borrowed", color: "primary", 
                    value: borrowed, value2: totalAvailable, percentage: borrowedPercent, 
                }, { 
                    label: "Reissued", color: "warning",
                    value: 30, percentage: 30, 
                }, { 
                    label: "Over Due", color: "danger",
                    value: overDue, value2: totalAvailable, percentage: overDuePercent, 
                }, { 
                    label: "Life Time Borrows", color: "primary",
                    value: lifeTimeBorrow, progBar: "false" 
                }, { 
                    label: "Life Time Reissued", color: "warning", 
                    value: 10, progBar: "false" 
                }, { 
                    label: "Life Time Over Due", color: "danger", 
                    value: lifeTimeOverDue, progBar: "false" 
                }, 
            ]
        }) %>

    </div>

    <div class="col"; style="height: 100%; width: 100%;">

        <%- include( "../partials/historyCard", {
            checkBoxList: [
                { label: "Borrowed", name: "borrowed", color: "primary", checked: true },
                { label: "Reissued", name: "reissued", color: "warning", checked: true },
                { label: "Over Due", name: "overDue", color: "danger", checked: true },
                { label: "Returned", name: "returned", color: "success", checked: true },
            ],
            table: { 
                startSlNum: 1,
                headerList: [ "User", "Borrowed", "Due", "Returned" ],
                rowListKeys: [ "name", "lent_at", "due_at", "ret_at", ],
                rowList: trackers.history
            }
        } ) %>

    </div>
    
</div>
</div>
<body>

    
</body>

</html>