<!DOCTYPE html>
<html>
    <%- include( "../partials/bootstrap" ) %>
<head> <title> LMS - Book Profile</title> </head>

<%- include( "../partials/navbar", { activeNav: "Book" } ) %>
<%- include("../partials/popup" ) %>
<div class="row" style="margin-left: 5px;margin-right: 5px">
    <div class="col-md-2.2" >
        <% const disabled = (editable == "true" ? "false" : "true") %>
        <%- include( "../partials/infoCard", {
            imgPath: "/book.png",
            title: { label: "Title", name: "title", type: "text", disabled, value: title },
            body: [
                { label: "Author", name: "author", type: "text", disabled, value: author },
                { label: "Edition", name: "edition", type: "text", disabled, value: edition },
            ],
            buttons: [ 
                {
                    label: "Click  To  " + (sts == "e" ? "Disable" : "Enable"), color: sts == "e" ? "danger" : "success",
                    modal: {
                        modal_id: "book-status-modal",
                        modal_title: "Confirm To " + (sts == "e" ? "Disable" : "Enable"),
                        modal_body_id: "book-status-modal-body" ,
                        modal_body: "Title: " + title ,
                        modal_submit: {
                            action: "/book/update-status",
                            method: "post",
                            label: sts == "e" ? "Disable" : "Enable",
                            hiddenFieldList: [ 
                                { name: "book_id", value: book_id },
                                { name: "sts", value: sts == "e" ? "d" : "e" },
                            ],
                        },
                    },
                }, { 
                    label: (editable == "true" ? "Save": "Edit"), color: (editable == "true" ? "success": "primary"), 
                    formaction: (editable == "true" ? "/book/edit" : "/book/profile") , formmethod: (editable == "true" ? "post" : "get"),
                    onClick: "onEdit()",
                    hiddenFieldList: [
                        { name: "book_id", value: book_id },
                        { name: "editable", value: editable ? "false" : "true" },
                        { id: "edit-title", name: "title", value: title },
                        { id: "edit-author", name: "author", value: author },
                        { id: "edit-edition", name: "edition", value: edition },
                    ],
                },            
            ]
        } ) %>
        
    </div>
    <script type="text/javascript">
        function onEdit() {
            document.getElementById( "edit-title" ).value = document.getElementById( "title").value;
            document.getElementById( "edit-author" ).value = document.getElementById( "author").value;
            document.getElementById( "edit-edition" ).value = document.getElementById( "edition").value;
        }
    </script>
    <link href="/css/progBar.css" rel="stylesheet" type="text/css">

    <div class="col-md-3">
        <% const { avail=0, borrowed=0, reissued=0, overDue=0, lifeTimeBorrow=0, lifeTimeReIssue=0, lifeTimeOverDue=0, } = trackers;
        // ( variable || 1 ) -> used to avoid division by zero error
            const totalAvailable = avail + borrowed;
            const availPercent = (avail * 100 / (totalAvailable || 1) ).toFixed(2);
            const borrowedPercent = (borrowed * 100 / (totalAvailable || 1)).toFixed(2);
            const reissuedPercent = (reissued * 100 / (borrowed || 1)).toFixed(2);
            const overDuePercent = (overDue * 100 / (borrowed || 1) ).toFixed(2);
        %>
        <%- include( "../partials/progBar", {
            body: [ 
                {
                    label: "Available", color: "success",
                    value: avail, value2: totalAvailable, percentage: availPercent,
                }, { 
                    label: "Borrowed", color: "primary", 
                    value: borrowed, value2: totalAvailable, percentage: borrowedPercent, 
                }, { 
                    label: "Reissued", color: "warning",
                    value: reissued, value2: borrowed, percentage: reissuedPercent, 
                }, { 
                    label: "Over Due", color: "danger",
                    value: overDue, value2: borrowed, percentage: overDuePercent, 
                }, { 
                    label: "Life Time Borrows", color: "primary",
                    value: lifeTimeBorrow, progBar: "false" 
                }, { 
                    label: "Life Time Reissued", color: "warning", 
                    value: lifeTimeReIssue, progBar: "false" 
                }, { 
                    label: "Life Time Over Due", color: "danger", 
                    value: lifeTimeOverDue, progBar: "false" 
                }, 
            ]
        }) %>

    </div>

    <div class="col"; style="height: 100%; width: 100%;">
        <%- include( "../partials/historyCard", {
            refreshAction: "/book/profile",
            hiddenFieldList: [
                { name: "book_id", value: book_id },
            ],
            checkBoxList: [
                { label: "Borrowed", id: "borrowed", name: "borrowed", color: "primary", checked: filter.borrowed },
                { label: "Reissued", id: "reissued", name: "reissued", color: "warning", checked: filter.reissued },
                { label: "Over Due", id: "overDue",  name: "overDue",  color: "danger",  checked: filter.overDue },
                { label: "Returned", id: "returned", name: "returned", color: "success", checked: filter.returned },
            ],
            table: { 
                startSlNum: pg*20 + 1,
                headerList: [ "User", "Borrowed", "Reissued", "Due", "Returned" ],
                rowListKeys: [ "name", "lent_at", "re_iss_at", "due_at", "ret_at", ],
                rowList: trackers.history
            }
        } ) %>

        <div class="row justify-content-center" style="width: 100%" >
            <%- include("../partials/pagination", {
              pg,
              eleCount: trackers.history.length,
              maxEleCount: 20, 
              hiddenFieldList: [
                { name: "borrowed", value: filter.borrowed },
                { name: "reissued", value: filter.reissued },
                { name: "overDue",  value: filter.overDue  },
                { name: "returned", value: filter.returned },
                { name: "book_id", value: book_id },
              ],
            }); %> 
          </div>

    </div>
    
</div>
</div>
<body>    
</body>
</html>