<html>
    <title>LMS - Purchase Book</title>
    <body>
      <%- include("../partials/navbar") %>

      <%- include("../partials/popup" ) %>

        <form action="/book/purchase" method="post">

          <input type="hidden" name="book_id" value="<%= book_id %>">
          <input type="hidden" name="title" value="<%= title %>">
          <input type="hidden" name="author" value="<%= author %>">
          <input type="hidden" name="edition" value="<%= edition %>">
          
          <div class="purchase-book-component" style="margin-left: 2%">

            <!-- First Row: Borrower Seller Name-->
            <div class="form-row" >

              <!-- Borrower Seller Name -->
              <div class="form-group col-md-6" >

                <div class="card" style="width: 100%;">

                  <div class="card-body">
                    
                    <h5  class="card-title" style="color: Orange;"> Purchase Book: <%= typeof title != 'undefined' ? title : 'None' %> </h5>
                    <h6  class="card-subtitle mb-2 text-muted"> By: <%= typeof author != 'undefined' ? author : 'None' %> </h6>
                    <h6  class="card-subtitle mb-2 text-muted"> Edition: <%= typeof edition != 'undefined' ? edition : 'None' %> </h6>

                    <div class="row">
                      <%- include( "../partials/inputField", {
                        labelName: 'Seller Name',
                        name:"seller",
                        id:"seller",
                        type:"text",
                        disabled: typeof disableInput != 'undefined' ? disableInput : 'false'
                      } );%>
                    </div>

                    <div class="row">
                      <%- include( "../partials/inputField", {
                        labelName: 'Quantity',
                        name:"qty",
                        id:"qty",
                        type:"number",
                        disabled: typeof disableInput != 'undefined' ? disableInput : 'false'
                      } );%>
                    </div>

                    <% if ( typeof disableInput == "undefined" ) { %>
                    <div class="row float-right">

                      <button class="btn btn-danger" type="button"  onclick="window.location='/book';return false;" style="margin-right: 10px;"> Cancel</button>
                      
                      <button type="button" class="btn btn-primary" onclick= "purchaseBookModalMaker()" data-toggle="modal" data-target="#confirm_purchase_modal_id"> Purchase Book </button>                      
                      
                      <%- include( "../partials/modal", {
                        modal_id: "confirm_purchase_modal_id",
                        modal_title: "Purchase Book: " + title,
                        modal_body_id: "confirm_purchase_modal_body_id" 
                      } ) %>
                      
                    </div>
                    <% } %>
                  </div>

                </div>

              </div>

            </div>
            
          </div>

          </form>
          <%- include( "../partials/setEleValByID" ) %>
          <script type="text/javascript">
            function purchaseBookModalMaker() {
              document.getElementById( "confirm_purchase_modal_body_id" ).innerHTML = "Seller: " + document.getElementById( "seller" ).value + "<br />" + "Quantity: " + document.getElementById( "qty" ).value;
            }
          </script>
    </body>
</html>