<html>
    <title>LMS - Purchase Book</title>
    <body>
      <%- include("../partials/navbar", { activeNav: "Book" } ) %>

      <%- include("../partials/popup" ) %>

          <div class="purchase-book-component" style="margin-left: 2%">

            <!-- First Row: Borrower Seller Name-->
            <div class="form-row" >

              <!-- Borrower Seller Name -->
              <div class="form-group col-md-6" >

                <div class="card" style="width: 100%;">

                  <div class="card-body">
                    
                    <h5  class="card-title" style="color: Orange;"> Purchase Book: <%= typeof title != 'undefined' ? title : 'None' %> </h5>
                    <h6  class="card-subtitle mb-2 text-muted"> By: <%= typeof author != 'undefined' ? author : 'None' %> </h6>
                    <h6  class="card-subtitle mb-2 text-muted"> Edition: <%= typeof edition != 'undefined' ? edition : 'None' %> </h6>

                    <div class="row">
                      <%- include( "../partials/inputField", {
                        labelName: 'Seller Name',
                        name:"seller",
                        id:"seller",
                        type:"text",
                        value: typeof seller != "undefined" ? seller : "",
                        disabled: typeof disableInput != 'undefined' ? disableInput : 'false'
                      } );%>
                    </div>

                    <div class="row">
                      <%- include( "../partials/inputField", {
                        labelName: 'Quantity',
                        name:"qty",
                        id:"qty",
                        type:"number",
                        value: typeof qty != "undefined" ? qty : "",
                        disabled: typeof disableInput != 'undefined' ? disableInput : 'false'
                      } );%>
                    </div>

                    <% if ( typeof disableInput == "undefined" ) { %>
                    <div class="row float-right">

                      <button class="btn btn-danger" type="button"  onclick="window.location='/book';return false;" style="margin-right: 10px;"> Cancel</button>
                      
                      <button type="button" class="btn btn-primary" onclick= "purchaseBookModalMaker()" data-toggle="modal" data-target="#purchase-modal"> Purchase Book </button>                      
                      
                      <%- include( "../partials/modal", {
                        modal_id: "purchase-modal",
                        modal_title: "Purchase Book: " + title,
                        modal_body_id: "purchase-modal-body" ,
                        modal_submit: {
                          action: "/book/purchase",
                          method: "post",
                          label: "Confirm",
                          hiddenFieldList: [
                            { name: "book_id", value: book_id },
                            { name: "title", value: title },
                            { name: "author", value: author },
                            { name: "edition", value: edition },
                            { name: "seller", value:"", id:"purchase-modal-seller" },
                            { name: "qty", value: "", id:"purchase-modal-qty" },
                          ],
                        },
                      } ) %>
                      
                    </div>
                    <% } %>
                  </div>

                </div>

              </div>

            </div>
            
          </div>

          <script type="text/javascript">
            function purchaseBookModalMaker() {
              document.getElementById( "purchase-modal-body" ).innerHTML = "Seller: " + document.getElementById( "seller" ).value + "<br />" + "Quantity: " + document.getElementById( "qty" ).value;
              document.getElementById( "purchase-modal-seller" ).value = document.getElementById( "seller" ).value ;
              document.getElementById( "purchase-modal-qty" ).value = document.getElementById( "qty" ).value ;
            }
          </script>
    </body>
</html>